body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1350px 650px;
}
form{
    border: solid 1px;
    width: 500px;
    margin-left: 100px;
    padding: 10px;
}
label{
    font-size: 20px;
    color: rgb(22, 13, 1);
    font-weight: bold;
}
input{
    height: 30px;
    width: 250px;
    border-radius: 20px;
    background-color: rgba(228, 141, 10, 0.342);
}
textarea{
    height: 100px;
    width: 300px;
    border-radius: 20px;
    background-color: rgba(165, 132, 42, 0.651);
}
button{
    height: 30px;
    width: 100px;
    border-radius: 20px;
    background-color: rgb(19, 9, 9);
    color: aliceblue;
    border-color: aliceblue;
    margin-left: 60px;
    padding: 1px;
}